# SPDX-License-Identifier: GPL-2.0+

if ARCH_K3

config TI_K3_NAVSS_UDMA
        bool "Texas Instruments UDMA"
        depends on ARCH_K3
        select DMA
        select TI_K3_NAVSS_RINGACC
        select TI_K3_NAVSS_PSILCFG
        select TI_K3_PSIL
        help
          Support for UDMA used in K3 devices.

config TI_K3_UDMA_AM62L
        bool "Texas Instruments UDMA for AM62L"
        depends on ARCH_K3
        select DMA
        select TI_K3_NAVSS_RINGACC
        select TI_K3_NAVSS_PSILCFG
        select TI_K3_PSIL
        help
          Support for low cost UDMA variant present on AM62L. Also
	  referred to as BCDMA_V2/PKTDMA_V2.

endif

config TI_K3_PSIL
	bool
