// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2018 Texas Instruments Incorporated - https://www.ti.com/
 */

#include "k3-j721e-binman.dtsi"

&cbass_main {
	bootph-all;
};

&main_navss {
	bootph-all;
};

&cbass_mcu_wakeup {
	bootph-all;
};

&chipid {
	bootph-all;
};

&mcu_navss {
	bootph-all;
};

&mcu_ringacc {
	bootph-all;
};

&mcu_udmap {
	bootph-all;
};

&secure_proxy_main {
	bootph-all;
};

&dmsc {
	bootph-all;
};

&k3_pds {
	bootph-all;
};

&k3_clks {
	bootph-all;
};

&k3_reset {
	bootph-all;
};

&wkup_pmx0 {
	bootph-all;
};

&main_pmx0 {
	bootph-all;
};

&main_uart0 {
	bootph-all;
};

&mcu_uart0 {
	bootph-all;
};

&main_sdhci0 {
	bootph-all;
};

&main_sdhci1 {
	bootph-all;
};

&main_uart0_pins_default {
	bootph-all;
};

&serdes_ln_ctrl {
	idle-states = <J721E_SERDES0_LANE0_PCIE0_LANE0>, <J721E_SERDES0_LANE1_QSGMII_LANE2>,
		      <J721E_SERDES1_LANE0_PCIE1_LANE0>, <J721E_SERDES1_LANE1_PCIE1_LANE1>,
		      <J721E_SERDES2_LANE0_PCIE2_LANE0>, <J721E_SERDES2_LANE1_PCIE2_LANE1>,
		      <J721E_SERDES3_LANE0_USB3_0_SWAP>, <J721E_SERDES3_LANE1_USB3_0>,
		      <J721E_SERDES4_LANE0_EDP_LANE0>, <J721E_SERDES4_LANE1_EDP_LANE1>,
		      <J721E_SERDES4_LANE2_EDP_LANE2>, <J721E_SERDES4_LANE3_EDP_LANE3>;
	bootph-all;
};

&usb_serdes_mux {
	bootph-all;
};

&main_usbss0_pins_default {
	bootph-all;
};

&usbss0 {
	bootph-all;
};

&usb0 {
	dr_mode = "peripheral";
	bootph-all;
};

&main_mmc1_pins_default {
	bootph-all;
};

&wkup_i2c0_pins_default {
	bootph-all;
};

&wkup_uart0 {
	bootph-all;
	status = "okay";
};

&wkup_i2c0 {
	bootph-all;
	status = "okay";
};

&main_i2c0 {
	bootph-all;
};

&main_i2c0_pins_default {
	bootph-all;
};

&main_esm {
	bootph-all;
};

&exp2 {
	bootph-all;
};

&mcu_fss0_ospi0_pins_default {
	bootph-all;
};

&fss {
	bootph-all;
};

&wkup_gpio0 {
	bootph-all;
};

&ospi0 {
	bootph-all;

	flash@0 {
		bootph-all;
	};
};

&ospi1 {
	bootph-all;

	flash@0 {
		bootph-all;
	};
};

&mcu_fss0_hpb0_pins_default {
	bootph-all;
};

&wkup_gpio_pins_default {
	bootph-all;
};

&mcu_fss0_ospi1_pins_default {
	bootph-all;
};

&wiz0_pll1_refclk {
	assigned-clocks = <&wiz0_pll1_refclk>;
	assigned-clock-parents = <&cmn_refclk1>;
	bootph-all;
};

&wiz0_refclk_dig {
	assigned-clocks = <&wiz0_refclk_dig>;
	assigned-clock-parents = <&cmn_refclk1>;
	bootph-all;
};

&serdes0 {
	/*
	 * Since the PLL_CMNLC and PLL_CMNLC1 clocks are modelled as child
	 * clocks of SERDES0 in the Sierra SERDES driver, move them to the
	 * child nodes serdes0_pcie_link and serdes0_qsgmii_link.
	 */
	/delete-property/ assigned-clocks;
	/delete-property/ assigned-clock-parents;

	serdes0_qsgmii_link: phy@1 {
		reg = <1>;
		cdns,num-lanes = <1>;
		#phy-cells = <0>;
		cdns,phy-type = <PHY_TYPE_QSGMII>;
		resets = <&serdes_wiz0 2>;
		assigned-clocks = <&serdes0 CDNS_SIERRA_PLL_CMNLC1>;
		assigned-clock-parents = <&wiz0_pll1_refclk>;
		bootph-all;
	};
};

&serdes0_pcie_link {
	assigned-clocks = <&serdes0 CDNS_SIERRA_PLL_CMNLC>;
	assigned-clock-parents = <&wiz0_pll1_refclk>;
	bootph-all;
};

/* Required for USB DFU Boot */
&serdes3_usb_link {
	bootph-all;
};
