CONFIG_SYS_NAND_BLOCK_SIZE=0x40000
CONFIG_SYS_NAND_PAGE_COUNT=0x40
CONFIG_SYS_NAND_PAGE_SIZE=0x1000
CONFIG_SYS_NAND_OOBSIZE=0x100
CONFIG_SYS_NAND_MAX_CHIPS=1
CONFIG_SYS_NAND_SELF_INIT=y
# CONFIG_SPL_NAND_AM33XX_BCH is not set
CONFIG_SYS_NAND_U_BOOT_OFFS=0x200000
CONFIG_SYS_NAND_U_BOOT_LOCATIONS=y
CONFIG_NAND_BOOT=y
CONFIG_ENV_SIZE=0x20000
CONFIG_SPL_NAND_SUPPORT=y
CONFIG_SPL_NAND_DRIVERS=y
CONFIG_SPL_NAND_ECC=y
CONFIG_SPL_NAND_BASE=y
CONFIG_SPL_NAND_IDENT=y
CONFIG_CMD_NAND=y
CONFIG_TI_GPMC=y
CONFIG_MTD_RAW_NAND=y
CONFIG_NAND_OMAP_GPMC=y
CONFIG_NAND_OMAP_ELM=y
CONFIG_MEMORY=y
CONFIG_SPL_MEMORY=y
CONFIG_DM_I2C_GPIO=y
CONFIG_DFU_MTD=y
CONFIG_DFU_NAND=y
CONFIG_DFU_NAND_TRIMFFS=y
CONFIG_SYS_DFU_DATA_BUF_SIZE=0x40000
CONFIG_CMD_UBI=y
CONFIG_CMD_UBIFS=y

CONFIG_SPL_MTD_LOAD=n
CONFIG_SPL_NAND_SPI_SUPPORT=n
CONFIG_SPL_DM_SPI_FLASH=n
CONFIG_SPL_SPI_FLASH_SFDP_SUPPORT=n
CONFIG_SPL_SPI_LOAD=y
CONFIG_SPL_THERMAL=n
