#include<configs/am62x_lpsk_r5_defconfig>

CONFIG_ARM=y
CONFIG_ARCH_K3=y
CONFIG_SOC_K3_AM625=y
CONFIG_TARGET_AM625_R5_EVM=y
CONFIG_DEFAULT_DEVICE_TREE="k3-am62-r5-lp-sk"
CONFIG_SPL_GPIO=y
CONFIG_SPL_BOARD_INIT=y
CONFIG_SPL_DMA=y
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_SPL_ETH=y
CONFIG_SPL_I2C=y
CONFIG_SPL_NET=y
CONFIG_SPL_NET_VCI_STRING="AM62X-LPSK U-Boot R5 SPL"
CONFIG_DMA_CHANNELS=y
CONFIG_TI_K3_NAVSS_UDMA=y
CONFIG_TI_AM65_CPSW_NUSS=y
CONFIG_MMC=n
CONFIG_SPI=n
CONFIG_SPL_SPI=n
CONFIG_MTD=n
CONFIG_SPL_MTD=n
CONFIG_MMC=n
CONFIG_DM_MMC=n
CONFIG_SPL_DM_SPI=n
CONFIG_SPL_DM_SPI_FLASH=n
CONFIG_SPL_YMODEM_SUPPORT=n
