#include<configs/j722s_evm_r5_defconfig>

CONFIG_ARM=y
CONFIG_ARCH_K3=y
CONFIG_SOC_K3_J722S=y
CONFIG_TARGET_J722S_R5_EVM=y
CONFIG_DEFAULT_DEVICE_TREE="k3-j722s-r5-evm"
# Enable HSM loading
CONFIG_K3_HSM_FW=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x43C78800
CONFIG_SPL_TEXT_BASE=0x43c40000
CONFIG_SPL_BSS_START_ADDR=0x43c7c290
# Remove SPI configs to reduce SPL size
CONFIG_SPL_GPIO=n
CONFIG_DM_GPIO=n
CONFIG_SPL_SPI_FLASH_SUPPORT=n
CONFIG_SPL_SPI=n
CONFIG_OF_BOARD_SETUP=n
CONFIG_SPL_MTD=n
CONFIG_SPL_MTD_LOAD=n
CONFIG_SPL_NAND_SPI_SUPPORT=n
CONFIG_SPL_SPI_FLASH_SFDP_SUPPORT=n
CONFIG_SPL_SPI_LOAD=n
CONFIG_DA8XX_GPIO=n
CONFIG_DM_PCA953X=n
CONFIG_SPL_DM_PCA953X=n
CONFIG_MTD=n
CONFIG_DM_MTD=n
CONFIG_MTD_SPI_NAND=n
CONFIG_DM_SPI_FLASH=n
CONFIG_SPI_FLASH_SFDP_SUPPORT=n
CONFIG_SPI_FLASH_SOFT_RESET=n
CONFIG_SPI_FLASH_SOFT_RESET_ON_BOOT=n
CONFIG_SPI_FLASH_SPANSION=n
CONFIG_SPI_FLASH_S28HX_T=n
CONFIG_SPI=n
CONFIG_DM_SPI=n
CONFIG_CADENCE_QSPI=n
CONFIG_CADENCE_QSPI_PHY=n
CONFIG_SPL_DM_SPI_FLASH=n
CONFIG_SPL_DM_SPI=n
